<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticket.name %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ticket.quantity %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @ticket.subtotal %>
</p>
<% @ticket.ticketitems.each do |ticketitem| %>
    <tr>
      <td><%= ticketitem.kitchen_line_status %></td>
      <td><%= ticketitem.item.item_name %></td>
      <td><%= ticketitem.quantity %></td>
      <td><%= number_to_currency(ticketitem.ticket_line_subtotal) %></td>
        </tr>
    <%end%>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
