<%= form_for(@ticketitem) do |f| %>
  <% if @ticketitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticketitem.errors.count, "error") %> prohibited this ticketitem from being saved:</h2>

      <ul>
      <% @ticketitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.hidden_field(:ticket_id) %>
    </div>

  <div class="field">
    <%= f.label :ticket_id %><br />
      <%= f.collection_select(:ticket_id,Ticket.all,:id,:id) %>
  </div>
  <div class="field">
    <%= f.hidden_field :ticket %>
    <%= f.hidden_field :ticket %>
  </div>
  <div class="field">
    <%= f.hidden_field :name_id %>
    <%= f.hidden_field :name_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.collection_select(:name,Menu.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.hidden_field :integer %>
    <%= f.hidden_field :integer %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.collection_select(:price,Menu.all,:price,:price) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.hidden_field :subtotal %>
    <%= f.hidden_field :subtotal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
