<h1>Adding a new item</h1>

<table>
  <tr>
    <th>Ticket</th>
    <th>Ticket</th>
    <th>Name</th>
    <th>Name</th>
    <th>Integer</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticketitems.each do |ticketitem| %>
  <tr>
    <td><%= ticketitem.ticket_id %></td>
    <td><%= ticketitem.ticket %></td>
    <td><%= ticketitem.name_id %></td>
    <td><%= ticketitem.name %></td>
    <td><%= ticketitem.integer %></td>
    <td><%= number_to_currency(ticketitem.price) %></td>
    <td><%= ticketitem.quantity %></td>
    <td><%= number_to_currency(ticketitem.subtotal) %></td>
    <td><%= link_to 'Show', ticketitem %></td>
    <td><%= link_to 'Edit', edit_ticketitem_path(ticketitem) %></td>
    <td><%= link_to 'Destroy', ticketitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticketitem', new_ticketitem_path %>
