<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @ticketitem.ticket.id %>
</p>

<p>
  <b>Ticket:</b>
  <%= @ticketitem.ticket %>
</p>

<p>
  <b>Name:</b>
  <%= @ticketitem.name_id %>
</p>

<p>
  <b>Name:</b>
  <%= @ticketitem.name %>
</p>

<p>
  <b>Integer:</b>
  <%= @ticketitem.integer %>
</p>

<p>
  <b>Price:</b>
  <%= @ticketitem.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ticketitem.quantity %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @ticketitem.subtotal %>
</p>


<%= link_to 'Edit', edit_ticketitem_path(@ticketitem) %> |
<%= link_to 'Back', ticketitems_path %>
