<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @checkout.ticket_id %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @checkout.subtotal %>
</p>

<p>
  <b>Tax:</b>
  <%= @checkout.tax %>
</p>

<p>
  <b>Total:</b>
  <%= @checkout.total %>
</p>

<p>
  <b>Kitchen Status:</b>
  <%= @checkout.kitchen_status %>
</p>

<p>
  <b>Paid status:</b>
  <%= @checkout.paid_status %>
</p>


<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
