<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Restaurant Menu order</h1>
<td><%= link_to 'Menu', menus_path %></td>
<td><%= link_to 'Tickets', tickets_path %></td>
<td><%= link_to 'Ticketitems', ticketitems_path %></td>
<td><%= link_to 'Checkout', checkouts_path %></td>

<%= yield %>

</body>
</html>
